/* ########## Additional Styling ########## */
.bg-primary-blue {
  background-color: #0088BF;
}

.text-primary-blue {
  color: #0088BF;
}

.border-r-1 {
  border-radius: 1em;
}

input {
  padding: 10px;
  width: 350px;
  margin: 10px 0;

  border-radius: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align:left;
  font-size: 0.85em;
  /* vertical-align: middle!important; */
}

th {
  background: #0088BF!important;
  color: #fff!important;
}

tr {
  margin: 5px 0;
}

mark {
  background-color: #fff3cd;
  padding: 2px 4px;
  border-radius: 4px;
}